body {
  text-align: center;
  font-family: Arial, sans-serif;
}
canvas {
  background: #cec5c5;
  display: block;
  margin: auto;
}
button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
